body{
 background-color: black;  
}
.content-container{
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 300px;
    width: 60%;
}
#button-group{
    margin-top: 50px;
}
.btn{
    width: 50%;
}
